.App{
    background-color: #f8d87b;
}
ul {
    background-color: #f8d87b;
    
}

a {
    color:cadetblue;
}

li {
    border:black;
}


.card-body {
    background-color: ghostwhite;
}

.card-header {
    background-color: darkred;
    border-bottom-color:ghostwhite;
}

.card.border-info {
    border-bottom-color: black;
}

.btn {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: ghostwhite;
}

#alltron {
   background-color: ghostwhite;
    background-size: cover;
    background-position: 0% 50%;
    /* text-shadow: black 0.1em 0.1em 0.1em; */
}

#subcat {
    color:cadetblue;
    font:bold;
}




