.lead {
  color: white;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 10%;
}

.SignUpContainer {
  text-align: center;
  padding: 10px;
  margin-top: 10%;
  color: black;
}

.LogInContainer {
  text-align: center;
  padding: 10px;
  margin-top: 10%;
  color: black;
}

input {
  text-align: center;
  padding: 7px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 8px;
}

.btn {
  background-color: black;
  color: #828186;
  border: black;
  font-size: 16px;
}

.loginForm {
  text-align: center;
}
