.table {
  margin: 10px;
  border: solid 3px #161511;
  width: 100%;
  /* border-top: 1px black solid; */
}

.pictures {
  height: 250px;
  width: 250px;
  margin: 0px;
  padding: 0px;
}

.content {
  text-align: left;
}

.name-picture {
  padding: 0px;
  width: 250px;
  height: 250px;
}

.bold {
  font-weight: bold;
}
